h2 {font-size: 2rem };
p  {font-size: 1.1rem;}


.encabezado {
    
    width: 100%;
    height: 12vh;
    background: linear-gradient(135deg, white 30%, rgb(8,95,99) 30%);
    
    
}



.nav-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.nav-figura {
    width: 20%; /* Se ajustará proporcionalmente dentro de su contenedor */
    height: auto; /* Para que la proporción se mantenga */
    margin-left: 5%;
}

.nav-logo {
    width: 100%; /* La imagen ocupará todo el espacio dentro de .nav-figura */
    height: auto;
    max-width: 300px;
    
}

.datos {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding-right: 20px;
    justify-content: space-around;
    gap: 7vw;
}

.regresar {
    color: white;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
}

.regresar:hover {
    text-decoration: underline;
    color: lightgray;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
}
